@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.container{
    margin: 0 auto;
    min-height: 100vh;
    width: 1400px;
    background-color: black;
    font-family:'Space Grotesk', sans-serif;
}

.line {
    display: flex;
    justify-content: space-between;
    height: 220px;
    margin-bottom: 5px;
}
.item{
    background-color: white;
}
.item-1-1{
    height: 137px;
    width: 137px;
    border-radius:40px;
    margin: 68px 0 0 74px;
}
.item-1-2{
    height: 42px;
    width: 42px;
    border-radius:100px;
    margin: 47px 0 0 10px;
}
.item-1-3{
    height: 90px;
    width: 90px;
    border-radius:30px;
    margin: 23px 70px 0 10px;
}
.item-1-4{
    height: 83px;
    width: 83px;
    border-radius:30px;
    margin: 68px 183px 0 10px;
}
.item-2-1{
    height: 51px;
    width: 51px;
    border-radius:30px;
    margin: 110px 0 0 238px;
}
.button:hover{
    transition: 200ms ease-in;
    transform: scale(1.04);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    width: 264px;
    height: 73px;
    border-radius: 30px;
    padding-right: 1px;
    margin: 75px 6px 0 0;
    cursor: pointer;
}
.GN{
    color: black;
    font-size: 16.5px;
    margin: 5px 4px 5px 0;
    font-weight: bold;
}
.NFT{
    color: #750505;
    font-size: 16.5px;
    font-weight: bold;
}
.item-2-3{
    height: 42px;
    width: 42px;
    border-radius:30px;
    margin: 70px 224px 0 0;
}
.item-3-1{
    height: 25px;
    width: 25px;
    border-radius:30px;
    margin: 0 0 0 91px;
}
.item-3-2{
    height: 90px;
    width: 90px;
    border-radius:30px;
    margin: 31px 90px 0 0;
}
.item-3-3{
    height: 90px;
    width: 90px;
    border-radius:30px;
    margin: 31px 0 0 120px;
}
.item-3-4{
    height: 63px;
    width: 63px;
    border-radius:40px;
    margin: 0 120px 0 0;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1400px;
}
.wrapper-card{
    display: flex;
    height: 287px;
    width: 180px;
    margin: 4px 0 0 44px;
}
.background-card{
    height: 253px;
    width: 180px;
    border-radius: 16px;
    position: relative;
}
.move-element{
    position: absolute;
    top:0;
    width: 181px;
    height:253px;
    background-color: white;
    border-radius: 16px;
}
.background-card:hover .move-element{
    transition: 200ms;
    transform: translateY(33px);
}
.btn{
    margin-top:220px;
}
.btn:hover{
    cursor: pointer;
}
.card{
    position: absolute;
    top: 0;
    height:253px;
    width:176px;
    background-color:#3e3e3e;
    border-radius: 16px;
    border: #6e6e6e solid 2px;
}
.img{
    height: 194.69px;
    width: 164.57px;
    border-radius: 11px;
    position: absolute;
    top:6px;
    left:6.72px;
}
p{
    color: white;
    font-size: 20px;
}
.name{
    position: absolute;
    left: 10px;
}
.description{
    position: absolute;
    top: 70%;
    left: 5px;
}
/*.fake-border{*/
/*    height: 283px;*/
/*    width: 180px;*/
/*    border: white solid 1px;*/
/*}*/
/*.btn{*/
/*    background-image: url("Icons.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: bottom;*/
/*    height: 25px;*/
/*    width: 180px;*/
/*    border: none;*/
/*    visibility: hidden;*/
/*    transition: transform 1s;*/
/*}*/

/*.move-block{*/
/*    display: none;*/
/*    !*position: absolute;*!*/
/*    top: 0;*/
/*    height: 100px;*/
/*    width: 179px;*/
/*    border-radius: 16px;*/
/*    background-color: blue;*/
/*}*/

/*.border{*/
/*    !*position: absolute;*!*/
/*    !*top: 0;*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height:253px;*/
/*    width:180px;*/
/*    border-radius: 16px;*/
/*    background: linear-gradient(to left,whitesmoke, gray);*/
/*}*/
/*.card{*/
/*    box-sizing: border-box;*/
/*    height: 251px;*/
/*    width: 178px;*/
/*    background-color: #3e3e3e;*/
/*    border-radius: 15px;*/
/*    padding:6.5px ;*/
/*    position: relative;*/
/*}*/

/*.image{*/

/*    box-sizing: border-box;*/
/*    height: 194.69px;*/
/*    width: 164.57px;*/
/*    border-radius: 11px;*/
/*}*/

/*.description{*/
/*    position: absolute;*/
/*    box-sizing: border-box;*/
/*    height: 251px;*/
/*    width: 178px;*/
/*    top:0;*/
/*    padding: 7px 0 5px 5px;*/
/*}*/
/*.deck-up{*/
/*    margin: 0 0 0 2px;*/
/*    font-size:20px;*/
/*    color: white;*/
/*}*/
/*.deck-down{*/
/*    color: white;*/
/*    font-size: 20px;*/
/*}*/
/*.down1{*/
/*    margin: 130px 0 0 4px;*/
/*}*/
/*.down2{*/
/*    margin: 0 0 0 4px;*/
/*}*/



