body {
    background: black;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btn-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
}

.btn {
    width: 264px;
    height: 73px;
    background: white;
    border-radius: 32px;
    margin-top: 327px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background: violet;
    border: 5px solid white;
    border-radius: unset;
    transition: 1s ease-out;
}

.nft {
    color: red;
    font-size: 17px;
}

.dot1 {
    width: 137px;
    height: 137px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 67px;
    left: 67px;
}

.dot2 {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 433px;
    left: 81px;
}

.dot3 {
    width: 42px;
    height: 42px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 67px;
    left: 573px;
}

.dot4 {
    width: 51px;
    height: 51px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 556px;
    left: 358px;
}

.dot5 {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 607px;
    left: 615px;
}

.dot6 {
    width: 83px;
    height: 83px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 204px;
    right: 369px;
}

.dot7 {
    width: 42px;
    height: 42px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 513px;
    right: 348px;
}

.dot8 {
    width: 63px;
    height: 63px;
    background: white;
    border-radius: 32px;
    position: absolute;
    top: 348px;
    right: 57px;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 222px;
    height: 311px;
    background: #3E3E3E;
    margin: 0 53px 53px 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img {
    width: 200px;
    height: 220px;
    border-radius: 12px;
    margin-bottom: 65px;
}

.name {
    position: absolute;
    color: white;
    font-size: 27px;
    top: 10px;
    left: 30px;
}

.description {
    position: absolute;
    font-size: 18px;
    color: white;
    bottom: 10px;
    left: 30px;
}