body {
    margin: 0;
    line-height: 15px;
    line-height: 1.6;
    color: white;
    font-family: "Comic Sans MS";
}

h1,h2,h3 {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Intro */

.intro {
    width: 100%;
    height: 100vh;

    background:
    url("../Imags/1.jpg")
    center no-repeat ;
    background-size: cover;
}

/*  Headr  */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.nav {
    font-size: 18px;
    text-shadow: blue 4px 4px 4px ;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 2s ease-out;

    vertical-align: top;
    margin: 0 15px;

}

.nav__link:hover {
    color: lightseagreen;
}
.input {
    display: flex;
    background: bisque;

}
.input input{
    height: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;

}

.input button {
    width: 30px;
    height: 26px;
    border-radius: 0 5px 5px 0;
    border: 2px solid #fff ;
    background: url("../imags/2.png") center no-repeat ;
}