body {
    background-image: url('wallpaperbetter.com_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 30px;


}

.container {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



.btn-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #05451b;

}

.btn-search {
    left: 223px;
    position: absolute;
    width: 50px;
    height: 34px;
    border-radius: 12px;
    background: white;
    font-size: 21px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.btn-search:hover {
    background: #2EE59D;
    color: white;
    transform: translateX(7px);
}


.btn-stash {
    position: absolute;
    right: 50px;
    width: 80px;
    height: 35px;
    border-radius: 12px;
    background: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.btn-stash:hover {
    background: #2EE59D;
    color: white;
    transform: translateX(-7px);
}


.input-search {
    position: absolute;
    left: 50px;
    width: 160px;
    height: 28px;
    border-radius: 12px;
    border-style: double;
    border-color: black;
}


.container {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.card {
    position: relative;
    width: 100%;
    height: 451px;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 40px;
}


.card-container {
    width: 178px;
    height: 251px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 178px);
    grid-column-gap: 43px;
    grid-row-gap: 3em;
    background: none;

}

.card__name {
    position: absolute;
    left: 9.43%;
    right: 46.7%;
    bottom: 85.9%;
    top: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: black;
    width: 70%;
}

.picture {
    width: 90%;
    height: 90%;
    margin-left: 3.77%;
    margin-top: 2.56%;
    border-radius: 10px;
}

.add {
    position: absolute;
    width: 62px;
    height: 22px;
    border-radius: 12px;
    background: white;
    margin-left: -105%;
    margin-top: 10%;
    font-size: 12px;
    opacity: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.add:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .7);
    display: none;
}

.stash-container {
    position: absolute;
    width: 400px;
    height: 800px;
    background: white;
    display: block;
    margin-top: 5%;
    margin-left: 75.5%;
}

.card-wrapper {
    width: 100%;
    height: 94%;
    background: yellow;
    position: absolute;


}

.close-stash {
    width: 100px;
    height: 35px;
    margin-top: 761px;
    margin-left: 60%;
    position: absolute;
    background: white;
    border-radius: 12px;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.close-stash:hover {
    background: red;
    box-shadow: 0 0 0 5px rgba(193, 80, 56, 0.4);
    color: white;
}


.create-order {
    width: 100px;
    height: 35px;
    margin-top: 761px;
    margin-left: 15%;
    position: absolute;
    background: white;
    border-radius: 12px;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;

}

.create-order:hover {
    background: #2EE59D;
    box-shadow: 0 0 0 5px rgba(46, 229, 157, .4);
    color: white;
}

.remove {
    position: absolute;
    background: white;
    margin-left: -20%;
    margin-top: 10%;
    opacity: 0;
    width: 62px;
    height: 22px;
    border-radius: 12px;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.remove:hover {
    background: red;
    box-shadow: 0 15px 20px rgba(193, 80, 56, 0.4);
    color: white;
    transform: translateY(-7px);
}


.remove_stash {
    position: absolute;
    background: white;
    margin-left: 300%;
    margin-top: 10%;
    width: 62px;
    height: 22px;
    border-radius: 12px;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.remove_stash:hover {
    background: red;
    box-shadow: 0 15px 20px rgba(193, 80, 56, 0.4);
    color: white;
    transform: translateY(-7px);
}


.card:hover .add {
    opacity: 1;
}

.card:hover .remove {
    opacity: 1;
}

.card__name {
    font-style: normal;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: black;
    width: 70%;
}

.card__description {
    position: absolute;
    right: 10%;
    top: 90%;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
}

.card__name__stash {
    position: absolute;
    top: -20%;
    left: 140%;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: black;
    width: 70%;
}

.card__description__stash {
    top: 60%;
    left: 140%;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;

}

.picture__stash {
    width: 100%;
    height: 100%;
    margin-left: 3.77%;
    margin-top: 2.56%;
    position: absolute;

}

.card__stash {
    position: relative;
    width: 40px;
    height: 100px;
    border-radius: 12px;
    margin-left: 23px;
    margin-top: 40px;
}
