body {
    background: black;
}

.container {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container_btn {
    display: flex;
    justify-content: center;

}

.btn.add {
    width: 264px;
    height: 73px;
    margin-top: 301px;
    border-radius: 32px;
    margin-bottom: 291px;
}

.box {
    background: white;
    border-radius: 32px;
}

.box.one {
    position: absolute;
    width: 137px;
    height: 137px;
    top: 68px;
    left: 74px;

}

.box.two {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 453px;
    left: 91px;
}

.box.three {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 337px;
    left: 228px;
}

.box.four {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 484px;
    left: 364px;
}

.box.five {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 47px;
    left: 454px;
}

.box.six {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 23px;
    right: 580px;
}

.box.seven {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 484px;
    right: 415px;
}

.box.eight {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 68px;
    right: 183px;

}

.box.nine {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 294px;
    right: 224px;
}

.box.ten {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 453px;
    right: 120px;
}

.card_wrapper {
    display: grid;
    grid-template-columns: 222px 222px 222px 222px 222px 222px;
    grid-column-gap: 43px;
    align-items: center;
    flex-wrap: wrap;

}

.container_card {
    width: 178px;
    height: 251px;
    position: relative;
    background-color: #3E3E3E;
    border-radius: 12px;
}

.card {
    position: relative;
    width: 178px;
    height: 251px;
    /*margin-top: 91px;*/
    border-radius: 12px;
    background-color: #3E3E3E;
    /*margin-left: 53px;*/

}

.image {
    width: 165px;
    height: 195px;
    margin-top: 2.5%;
    margin-left: 3.7%;
    border-radius: 10px;
    background: url("https://random.imagecdn.app/500/500");

}

.card_name {
    position: absolute;
    left: 10px;
    right: 47px;
    top: 7px;
    bottom: 176px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    color: white;
}

.card_description {
    position: absolute;
    left: 10px;
    right: 31px;
    top: 187px;
    bottom: 6.4%;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    font-style: normal;
    color: white;
}

.btn.delete {
    width: 30px;
    height: 30px;
    margin-left: 42%;
    margin-top: 50px;
    opacity: 0;

}

.container_card:hover{
    border-bottom: 35px solid white;
}

.container_card:hover .btn.delete {
    opacity: 1;
}
